.read-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 110px;
    .stories{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;

    }
}